* {
    font-family: "Consolas";
}

QMainWindow {
    background-color: lightgray;
}

QGraphicsView {
    background-color: lightgray;
}

#header {
    border-bottom: 2px solid darkgray;
}

#graphModal {
    background-color: lightgray;
}

#clockWidget {
    padding: 3px;
    color: blue;
    font-size: 16px;
    font-family: 'Arial';
    font-weight: bold;
}

#fuelScheme {
    border: 4px solid gray;
}

#oilScheme {
    border: 4px solid #FFA000;
}