/* Задаем стиль для всего приложения (QMainWindow и его дочерние элементы) */
QMainWindow {
    background-color: #2b2b2b; /* Темно-серый фон окна */
}

/* Стиль для контейнера схемы */
#scheme {
    background-color: #1e1e1e; /* Еще более темный фон для холста */
    border: 1px solid #4a4a4a; /* Добавляем рамку */
    border-radius: 4px; /* Скругляем углы рамки */
}